.frm_style_formidable-style.with_frm_style .frm_primary_label {
  display: none;
}

.wprevpro_t1_site_logo {
  display: none;
}

/*----------------------------------------------------------------------
>>> TABLA DE CONTENIDO - base.CSS
------------------------------------------------------------------------

1.0 Estilos Base
2.0 Forms
3.0 Header
  3.1 Navigation
	3.2 Links
  3.3 Menus
4.0 Paginas
  4.1 Pagina de inicio
5.0 Media Queries
  8.1 Desktop
  8.2 Tablet
  8.3 Movil
------------------------------------------------------------------------*/

/*----------------------------------------------------------------------
        1.0 ESTILOS BASE
------------------------------------------------------------------------*/
:root {
  /* Tamaños font */
  --body-size: 16px;
  --font-size-14: 14px;
  --font-size-12: 12px;
  --frm-title-: 1.5rem;
  --frm-title-20: 20px;
  --frm-title-24: 24px;
  --label-number-: 3rem;
  --frm-title-40: 40px;

  /* Pesos font */
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;

  /* Colores */
  --custom-primary: #007bff;

  --custom-success: #19ba19;
  --custom-warning: #e9c442;
  --custom-danger: #f03800;
  --custom-info: #4189e8;

  --frm-labeltext-color: #374659;
  --frm-field-text-color: #868d96;
  --frm-header-paragraph: #878e95;
  --frm-box-titles: #f5f7fa;
  --frm-box-pragraph: #8c9196;
  --menu-txt-no-activo: #c7c7c7;
  --menu-txt-activo: #888e94;

  --gray-border: #cdd6e1;
  --light-gray: #f5f5f7;
  --light-gray-boxes: #f5f7fa;
  --white-backgorund: #fff;

  --tab-menu-gray: #ced4da;
  --label-backgorund: #F5F7FA;
  --divider-line: #E2E5E9;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
}

.full-height {
  min-height: 100vh;
}

hr {
  border-top: 1px solid;
  opacity: 1;
}

a {
  text-decoration: none;
}

/*-- TEXTO --*/
.fs-12 {
  font-size: var(--font-size-12);
}

.fs-14 {
  font-size: var(--font-size-14);
}

.fs-16 {
  font-size: var(--body-size);
}

.fs-20 {
  font-size: var(--frm-title-20);
}
.fs-24 {
  font-size: var(--frm-title-24);
}

.fs-40 {
  font-size: var(--frm-title-40);
}
.font-weight-500 {
  font-weight: var(--font-weight-500);
}

.font-weight-600 {
  font-weight: var(--font-weight-600);
}

.font-weight-700 {
  font-weight: var(--font-weight-700);
}
.text-primary {
  /* VEA QUE PRIMERO ESTA LA PALABRA TEXT-  */
  color: green;
}

.text-green {
  /* VEA QUE PRIMERO ESTA LA PALABRA TEXT-  */
  color: var(--custom-success);
}
.text-white {
  color: white;
}
.text-light {
  color: #99a0a8 !important;
}
.text-light-gray {
  color: var(--menu-txt-activo);
}

.text-dark-gray {
  color: var(--frm-labeltext-color);
}

.text-center {
  text-align: center;
}

.texto-terminos {
  font-size: 14px;
  color: var(--bs-gray-600);
}

/*-- COLORES --*/
.tab-menu-button.active-button {
  background-color: var(--tab-menu-gray) !important;
  border-color: var(--tab-menu-gray);
  color: var(--frm-labeltext-color);
}
.tab-menu-button {
  border-color: var(--tab-menu-gray);
  color: var(--frm-labeltext-color);
}

.tab-menu-button:hover {
  background-color: var(--tab-menu-gray);
  border-color: var(--tab-menu-gray);
  color: var(--frm-labeltext-color);
}

.field-text-color {
  color: var(--frm-field-text-color);
}

.bg-gray-header {
  background: var(--frm-gray-header);
}

.bg-gray-boxes {
  background: var(--light-gray-boxes);
}
.bg-gray {
  background: var(--frm-box-titles);
}

.bg-darken {
  background: rgb(0 0 0 / 20%);
}

.bg-yellow {
  background-color: #fff9e6;
}

.bg-black-gray {
  background-color: #374659;
}

.gray-text-color {
  color: #e2e5e9;
}

.gray-frm-paragraph {
  color: var(--frm-header-paragraph);
}

.yellow-border {
  border: 2px solid #f0c200;
}

.gray-border {
  border: 2px solid var(--gray-border);
}

.light-border-right {
  border-right: 2px solid #657488;
}

.separator {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e2e5e9;
}
.yellow-separator {
  background-color: #e9c442;
}

.custom-bg-primary {
  background: var(--custom-primary) !important;
}

/*-- UTILIDADES --*/
.nowrap {
  white-space: nowrap;
}

.border-none {
  border: none !important;
}

.br-20 {
  border-radius: 20px;
}

.br-10 {
  border-radius: 10px;
}

.bt-10 {
  border-radius: 10px 10px 0 0;
}

.br-12 {
  border-radius: 12px;
}

.bt-12 {
  border-radius: 12px 12px 0px 0px;
}

.br-8 {
  border-radius: 8px;
}

.border-right {
  border-right: 1px solid #657488;
}

/* MARGINS */
.mt-80 {
  margin-top: 80px;
}

.mt-56 {
  margin-top: 56px;
}

.mt-40 {
  margin-top: 40px;
}
.mt-48 {
  margin-top: 48px;
}

.mt-24 {
  margin-top: 24px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mt-12 {
  margin-top: 12px;
}

.mr-12 {
  margin-right: 12px;
}

.ml-12 {
  margin-left: 12px;
}

.mx-12 {
  margin: 0 12px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-56 {
  margin-bottom: 56px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-56 {
  margin-top: 56px;
  margin-bottom: 56px;
}

.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}


/* PADDINGS */
.p-16 {
  padding: 16px;
}
.p-20 {
  padding: 20px;
}

.p-24 {
  padding: 24px;
}

.p-56 {
  padding: 56px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.px-76 {
  padding-left: 76px;
  padding-right: 76px;
}

.px-56 {
  padding-left: 56px;
  padding-right: 56px;
}

.py-56 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.pl-80 {
  padding-left: 80px;
}

.pr-80 {
  padding-right: 80px;
}

/**TITULOS SECCIONES**/

/*----------------------------------------------------------------------
        2.0 FORMS
------------------------------------------------------------------------*/
.form-card {
  background: #fff;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.form-login-row {
  background: var(--light-gray);
}

.form-label, 
.form-check-label {
  color: var(--frm-labeltext-color);
}

.divider {
  color: #e2e5e9;
}

/*FORMULARIO PA INDEX*/
.form-container__icon-box {
  width: 70%;
}

.form-container__btn {
  width: 30%;
}

.form-container__icon-title {
  margin-left: 20px;
}
/*FIN FORMULARIO PA INDEX*/


/*FORMULARIO AF SOLICITANTE*/
.container__box--info p {
  color: var(--frm-box-pragraph);
}
/*FIN FORMULARIO AF SOLICITANTE*/

/*----------------------------------------------------------------------
        3.0 HEADER & NAVEGACION
------------------------------------------------------------------------*/
.nav-menu {
  max-width: 400px;
  }
  .nav-menu__item {
  display: flex;
  align-items: flex-start;
  }
  .nav-menu__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background: white;
  color: #B4C3E6;
  border: solid 2px #B4C3E6;
  border-radius: 32px;
  position: relative;
  z-index: 1;
  }
  .nav-menu__item--active .nav-menu__number {
  color: white;
  background: var(--custom-primary);
  border-color: white;
  box-shadow: 0px 0px 0px 2px var(--custom-primary);
  }
  .nav-menu__item--completed .nav-menu__number {
  color: white;
  background: var(--custom-primary);  
  border-color:var(--custom-primary);           
  }
  .nav-menu__item--completed .nav-menu__content {
  border-color: var(--custom-primary);
  }
  .nav-menu__content {
  padding: 0 24px;
  margin-left: -16px;
  border-left: 2px solid #B4C3E6;
  padding-bottom: 40px;
  }
  .nav-menu__item:last-child .nav-menu__content {
  border-left: none;
  }
  .nav-menu__item--active .nav-menu__content,
  .nav-menu__item:last-child .nav-menu__item--active .nav-menu__content { /*Se trae de regreso el borde del :last-child porque se necesita para cuando está activa esta página en la nav*/
  border-left: 2px solid var(--custom-primary);
  }

  .nav-menu__title {
  font-size: 20px;
  font-weight: 500;
  color:#C7C7C7;
  }
  .nav-menu__item--active .nav-menu__title {
  color: #374659;
  }
  .nav-menu__description {
  font-weight: 300;
  margin-top: 8px;
  display: none;
  }

  .nav-menu__item--active .nav-menu__description {
  color:#888E94;
  display: block;
  }


/*----------------------------------------------------------------------
        4.0 PÁGINAS
------------------------------------------------------------------------*/

/*--Pagina de Inicio de Sesión--*/
.card_login {
  background-color: var(--white-backgorund);
  border-radius: 0.8rem;
  border: 0.13rem solid var(--gray-border);
}

.card__login-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--label-backgorund);
  border-radius: 0.8rem 0.8rem 0 0;
  padding: 1.3rem 1.875rem;
  margin-bottom: 4rem;
}

.card__container--icon img {
  width: 2.5rem;
}

.card_login-form {
  padding: 0 1.875rem 1.875rem 1.875rem;
}


.card_login-formbtn {
  margin-top: 4rem;
}

.card_login--btn {
  width: 100%;
}

.card_login--recover {
  text-align: center;
  padding-top: 1.3rem;
}

.card_login--recoverbtn {
  text-decoration: none;
  color: var(--menu-txt-activo);
}
/*--Fin Pagina de Inicio de Sesión--*/


/*-- Pagina Autenticación--*/

.card__code-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--label-backgorund);
  border-radius: 0.8rem 0.8rem 0 0;
  padding: 1.3rem 1.875rem;
  margin-bottom: 2rem;
}

.card_code-text p {
  margin-bottom: 0px;
  color: var(--frm-labeltext-color);
}

.card_login-codebtn {
  margin-top: 2rem;
}

/*-- Fin Pagina Autenticación--*/


/*--Pagina-PA-calculo--*/
.result-container__box--interes {
  margin-right: 74px;
}

.result-container__box--plazos {
  width: 33%;
}

.card {
  background-color: var(--white-backgorund);
  padding: 3.5rem;
  border-radius: 20px;
  border: 2px solid var(--gray-border);
}

.card__container-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.card__container--icon {
  padding-right: 1.5rem;
}

.mb-3 {
  margin-top: 2.5rem;
}

.form-label:after {
  content:"*";
  color:var(--custom-danger);
}

.card__container-line1 {
  border: 0.06rem solid var(--divider-line);
  margin: 2.5rem 0 2.5rem 0;
}

.card__container-label1{
  background-color: var(--label-backgorund);
  border-radius: 0.5rem;
  padding: 1.3rem;
  margin-bottom: 0.8rem;
}



/* .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
} */

.card__container-label2{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 0px;
}
.card__container--box{
  background-color: var(--label-backgorund);
  border-radius: 0.5rem;
  padding: 16px;
  margin-bottom: 0.8rem;
}

.card__container---info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.fs-6 {
  color: var(--frm-field-text-color);
}

.fs-4, .fs-1 {
  color: var(--frm-labeltext-color);
}

.card__container-label3{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--label-backgorund);
  border-radius: 0.5rem;
  padding: 1.3rem;
  margin-bottom: 4rem;
}

.card__container-label4 {
  background-color: var(--white-backgorund);
  padding: 1.3rem;
  border-radius: 0.75rem;
  border: 0.13rem solid var(--gray-border);
}

.card__container-label--h2 {
  font-size: var(--label-number-);
  font-weight: 500;
  color: var(--custom-success);
}

.card__container-btn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0px;
  gap: 20px;
}
/*--Final pagina-PA-calculo--*/



/*-- Página PA-Resultado  --*/
.card__offer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 2px var(--gray-border);
  border-radius: 8px;
}
  .card__offer-row-data {
    flex-direction: column;
  }

.offer__btn {
  display: flex;
  justify-content: center;
}
/* -- Fina PA-Resultado -- */

/*----------------------------------------------------------------------
        5.0 ESTILOS CSS RESPONSIVE
------------------------------------------------------------------------*/

/*=============================================
ESCRITORIO (XL revisamos en 1200px en adelante)
=============================================*/

@media (min-width: 1200px) {
  /* .card {
    min-width:730px;
  } */
}

/*=============================================
TABLET HORIZONTAL (LG revisamos en 1024px)
=============================================*/

@media (max-width: 1199px) and (min-width: 992px) {
 
  .card__offer-row.md-flex-wrap {
    flex-wrap: wrap; 
    gap: 16px; 
  }
  .card__offer-row div {
    border-right:none !important;
  }

  .card__offer-row-data p {
    padding-left: 0 !important;
  }
}



/*=============================================
TABLET VERTICAL (MD revisamos en 768px)
=============================================*/
@media only screen and (max-width: 991px) and (min-width:768px) {
  /* PA- Resultado */
  .card__offer-row {
    flex-wrap: wrap;  
  }
  /* Fin PA Resultados */
}

/*=============================================
TABLET VERTICAL (revisamos en 991px)
=============================================*/ 
@media only screen and (max-width: 991px) {
  /* --Menú de paginación-- */
  .nav-menu {
      max-width: 100%;
      display: flex;
      justify-content: center;
      padding-bottom:24px;
  }
  .nav-menu__item {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      overflow: visible;
      padding:0 8px;
      max-width: 64px;
  }
  .nav-menu__item::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: #B4C3E6;
      position: absolute;
      top: 76%;
      left: 32px;
  }
  .nav-menu__item--active::after {
      width: 40px;
      background: var(--custom-primary);
      left: 40px;
  }
  .nav-menu__item--completed::after {
      background: var(--custom-primary);
  }
  .nav-menu__item:last-child::after,
  .nav-menu__title {
      display: none;
  }
  .nav-menu__title {
      font-size: 16px;
      font-weight: 500;
  }
  .nav-menu__item--active .nav-menu__title {
      display: block;
  }
  .nav-menu__content {
      margin-left: 0;
      padding: 0 0 12px;
  }
  .nav-menu__description,
  .nav-menu__item--active .nav-menu__content .nav-menu__description {
      display: none;
  }
  .nav-menu__content,
  .nav-menu__item--active .nav-menu__content {
      border-left: none;
  }
  /* --Fin menú de paginación-- */


  /* PA- Resultado */
  .card__offer-row {
    flex-wrap: wrap; 
    gap: 16px; 
  }
  .card__offer-row div {
    border-right:none !important;
  }

  .card__offer-row-data p {
    padding-left: 0 !important;
  }

  /* Fin PA Resultados */
  
}

/*=============================================
MÓVIL HORIZONTAL (SM revisamos en 576px)
=============================================*/

@media (max-width: 576px) {
  /* PADDINGS */
  .px-sm-26 {
    padding-left: 26px !important;
    padding-right: 26px !important;
  }

  .py-sm-26 {
    padding-top: 26px !important;
    padding-bottom: 26px !important;
  }

  .p-sm-26 {
    padding: 26px !important;
  }

  /* MARGINS */
  .mb-sm-12 {
    margin-bottom: 12px !important;
  }
  .mb-sm-20 {
    margin-bottom: 20px !important;
  }

  .mt-sm-26 {
    margin-top: 26px !important;
  }

  .mb-sm-26 {
    margin-bottom: 26px !important;
  }

  .my-sm-26 {
    margin-top: 26px !important;
    margin-bottom: 26px !important;
  }

  .mb-sm-40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }

  .card {
    padding: 1.3rem;
  }

  .card__container--info1 {
    margin-bottom: 1.3rem;
  }

  .card__container-label2 {
    flex-wrap: wrap;
  }

  .card__container--box {
    width: 100%;
  }

  .btn-outline-primary, .btn-primary {
    width: 100%;
  }

  /*FORMULARIO PA INDEX*/
  .form-container__icon-box {
    width: 100%;
  }

  .form-container__btn {
    width: 100%;
    margin-top: 20px;
  }

  .form-container__btn button {
    width: 100%;
  }

  /*PAGINA PA CALCULO*/
  .result-container__box--interes {
    margin-right: 0;
  }
  .result-container__box--plazos {
    width: 100%;
  }
}
/*=============================================
MOVIL VERTICAL (revisamos en 414px)
=============================================*/

@media (max-width: 414px) {

  .offer__btn {
    display: block;
  }
  .offer__btn button:first-child {
    margin-bottom: 12px;
  }
}
