.frm_style_formidable-style.with_frm_style .frm_primary_label {
  display: none;
}

.wprevpro_t1_site_logo {
  display: none;
}

/*----------------------------------------------------------------------
>>> TABLA DE CONTENIDO
------------------------------------------------------------------------

1.0 Estilos Base
2.0 Forms
3.0 Header
  3.1 Navigation
	3.2 Links
  3.3 Menus
4.0 Paginas
  4.1 Pagina de inicio
5.0 Media Queries
  8.1 Desktop
  8.2 Tablet
  8.3 Movil
------------------------------------------------------------------------*/

/*----------------------------------------------------------------------
        1.0 ESTILOS BASE
------------------------------------------------------------------------*/
:root {
  /* Tamaños font */
  --body-size: 16px;
  --frm-title-: 24px;

  /* Colores */
  --custom-primary: #007bff;

  --custom-success: #19ba19;
  --custom-warning: #e9c442;
  --custom-danger: #f03800;
  --custom-info: #4189e8;

  --frm-labeltext-color: #374659;
  --frm-field-text-color: #868d96;
  --menu-txt-no-activo: #c7c7c7;
  --menu-txt-activo: #888e94;

  --gray-border: #cdd6e1;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
}

.full-height {
  min-height: 100vh;
}

hr {
  border-top: 1px solid;
  opacity: 1;
}

a {
  text-decoration: none;
}

/*-- TEXTO --*/

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.text-primary {
  /* VEA QUE PRIMERO ESTA LA PALABRA TEXT-  */
  color: green;
}

.text-white {
  color: white;
}
.text-light {
  color: #99a0a8 !important;
}
.text-light-gray {
  color: #888e94;
}

.text-dark-gray {
  color: #374659;
}

.text-center {
  text-align: center;
}

.texto-terminos {
  font-size: 14px;
  color: var(--bs-gray-600);
}

/*-- COLORES --*/
.bg-gray {
  background: #f5f7fa !important;
}

.bg-darken {
  background: rgb(0 0 0 / 20%);
}

.bg-yellow {
  background-color: #fff9e6;
}

.bg-black-gray {
  background-color: #374659;
}

.gray-text-color {
  color: #e2e5e9;
}

.yellow-border {
  border: 2px solid #f0c200;
}

.gray-border {
  border: 2px solid var(--gray-border);
}

.light-border-right {
  border-right: 2px solid #e2e5e9;
}

.separator {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e2e5e9;
}
.yellow-separator {
  background-color: #e9c442;
}

.custom-bg-primary {
  background: var(--custom-primary) !important;
}

/*-- UTILIDADES --*/
.br-20 {
  border-radius: 20px;
}

.br-10 {
  border-radius: 10px;
}

.br-12 {
  border-radius: 12px;
}

.bt-12 {
  border-radius: 12px 12px 0px 0px;
}

.br-8 {
  border-radius: 8px;
}

.border-right {
  border-right: 1px solid #657488;
}

/* MARGINS */
.mt-80 {
  margin-top: 80px;
}

.mr-24 {
  margin-right: 24px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-40 {
  margin-bottom: 40px;
}

/* PADDINGS */
.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}

.pl-80 {
  padding-left: 80px;
}

.pr-80 {
  padding-right: 80px;
}

/**TITULOS SECCIONES**/

/*----------------------------------------------------------------------
        2.0 FORMS
------------------------------------------------------------------------*/
.form-card {
  background: #fff;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.form-login-row {
  background: #f5f5f7;
}

.form-label {
  color: var(--frm-labeltext-color);
}

.divider {
  color: #e2e5e9;
}

/*----------------------------------------------------------------------
        3.0 HEADER & NAVEGACION
------------------------------------------------------------------------*/
/* MENU DE PAGINACION */

.lb_menutablet {
  /* Esconder menús móviles */
  display: none;
}

.xx {
  width: auto;
  border: #f1f4f9 2px solid;
}

.yy {
  border: var(--custom-primary) 2px solid;
}

.lb_aguardando {
  /*Color línea de tiempo*/
  border-left: #b4c3e6 2px solid;
  height: 70px;
}

.lb_navegacionlinea {
  border-left: #fff 3x solid;
}

.lb_aprovado {
  /*Color línea de tiempo aprovada*/
  border-left: var(--custom-primary) 2px solid;
  padding-bottom: 50px;
}

.lb_ppaprovado {
  /* Color menu aprovado */
  justify-content: center;
  width: 22px;
  background-color: var(--custom-primary);
  border-radius: 30px;
  padding: 1px;
  font-size: 12px;
  color: #fff;
  margin-left: -12px;
}

.lb_ppaprovadoactivo {
  /* Color menu activo */
  justify-content: center;
  width: 24px;
  background-color: var(--custom-primary);
  border-radius: 30px;
  padding: 1px;
  font-size: 12px;
  color: #fff;
  margin-left: -14px;
  border: solid 2px white;
  box-shadow: 0px 0px 0px 2px var(--custom-primary);
}

.lb_ppaprovadoactivofuente {
  /*fuente de menu desactivado*/
  font-size: 20px;
  color: #374659;
  font-weight: 400;
}

.lb_ppaprovadodesactivadofuente {
  font-size: 20px;
  color: #c7c7c7;
  font-weight: 400;
}

.lb_ppaguardando {
  justify-content: center;
  width: 22px;
  background-color: #fff; /*********** color circulo de tiempo aguardando **********************/
  border-radius: 30px;
  border: #b4c3e6 2px solid;
  padding: px;
  font-size: 12px;
  color: #b4c3e6;
  margin-left: -12px;
}

.lb_ppaguardandofinallinea {
  justify-content: center;
  width: 20px;
  background-color: #fff;
  border-radius: 30px;
  border: #b4c3e6 2px solid;
  padding: px;
  font-size: 12px;
  color: #b4c3e6;
  margin-left: -8px;
}

.lb_ppaprovadoactivofuente + p {
  /*párrafo del menu activo */
  color: #888e94;
}

/* Verificar donde pertenecen estos estilos */

.lb_pppp {
  margin-top: -25px;
  margin-left: 30px;
}

.lb_mm {
  margin-top: -40px;
  margin-left: 28px;
}

.lb_margentop {
  margin-top: 78px;
  margin-bottom: 78px;
}

.lb_xtarjeta {
  width: 735px;
}
.lb_divisor {
  border-bottom: 2px solid #cccdd0;
  border-radius: 0;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.lb_bordetarjetas1 {
  border-radius: 12px;
  border: #cdd6e1 2px solid;
}
.lb_divisorconfirmacion {
  border-bottom: 2px solid #317fe8;
}

/* Tarjeta documento */

.lb_xtarjetadocumento {
  width: 800px;
}

/*----------------------------------------------------------------------
        4.0 PÁGINAS
------------------------------------------------------------------------*/
/* PAGINA PREAPROBACION - CALCULO */

.lb_cabezera {
  font-size: 21px;
  color: #374659;
  font-weight: 600;
}
.lb_primernumero {
  font-size: 35;
  color: #374659;
  font-weight: 600;
}
.lb_colorprincipal {
  color: #374659;
  font-size: 20px;
  opacity: 1;
}
.lb_tamanosecundario {
  color: #888e94;
  font-size: 16px;
}

.lb_numero {
  font-weight: 600;
}
.lb_numeros {
  padding-top: 17px !important;
}

.lb_col {
  padding-top: 9px;
  padding-bottom: 9px;
}

.lb_paddingg {
  margin-bottom: -10px !important;
}
.lb_fff {
  background-color: #fff;
}
.lb_d0d1d2 {
  background-color: #f5f7fa;
}
.lb_borde {
  border: 2px solid #d0d1d2;
}

.primeralinea {
  border-radius: 0;
}
.lb_divisor {
  border-bottom: 2px solid #cccdd0;
  border-radius: 0;
  margin-bottom: 30px;
}
.segundalinea,
.terceralinea {
  margin-bottom: 10px;
}

.cuartalinea {
  margin-bottom: 50px;
}
.quintalinea {
  margin-bottom: 35px;
}
.paddingcol1 {
  margin-right: 10px;
}

.numeros1 {
  font-size: 40px;
  color: var(--custom-success);
  font-weight: 600;
}

.lb_solisitud {
  font-size: 32px;
}

.lb_por {
  display: flex;
  justify-content: end;
  margin-right: -23px !important;
}
.lb_port {
  display: flex;
  justify-content: end;
  margin-right: 1px !important;
}

.lb_padin {
  padding-top: 30px;
}
.lb_espaciobotton {
  margin-left: -20px;
}
.lb_tamano {
  width: 106px;
}

/* Página Revision solicitante  */

.lb_colorprincipal {
  color: #374659;
  font-size: 20px;
  opacity: 1;
}
.lb_tamano {
  width: 106px;
}

.lb_numero {
  font-weight: 600;
}
.lb_numeros {
  padding-top: 17px !important;
}

.lb_col {
  padding-top: 9px;
  padding-bottom: 9px;
}

.lb_paddingg {
  margin-bottom: -10px !important;
}
.lb_fff {
  background-color: #fff;
}

.lb_d0d1d2 {
  background-color: #f5f7fa;
}
.lb_borde {
  border: 2px solid #d0d1d2;
}

.primeralinea {
  padding-bottom: 20px;
  margin-bottom: 35px;
  border-bottom: 2px solid #ebedee;
  border-radius: 0;
}
.lb_divisor {
  border-bottom: 2px solid #cccdd0;
  border-radius: 0;
  margin-bottom: 0px;
}
.segundalinea,
.terceralinea {
  margin-bottom: 10px;
}

.cuartalinea {
  margin-bottom: 50px;
}
.quintalinea {
  margin-bottom: 35px;
}
.paddingcol1 {
  margin-right: 10px;
}

.lb_saldo {
  color: var(--custom-success);
  font-size: 40px;
  font-weight: 600 !important;
}

.lb_por {
  display: flex;
  justify-content: end;
  margin-right: -23px !important;
}
.lb_port {
  display: flex;
  justify-content: end;
  margin-right: 1px !important;
}

.lb_padin {
  padding-top: 30px;
}
.lb_espaciobotton {
  margin-left: -20px;
}

.lb_espaciobott {
  margin-right: 15px;
}
.lb_tamanon {
  width: 140px;
}
.lb_tamano {
  width: 106px;
}

@media (max-width: 767px) {
  .lb_primernumero {
    font-size: 30;
  }
  .lb_colorprincipal {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .lb_espacio {
    margin-top: 10px;
  }
  .lb_colorprincipal {
    font-size: 17px;
  }
}

@media (max-width: 500px) {
  .lb_cabezera {
    font-size: 18px;
  }
  .lb_colorprincipal {
    font-size: 14px;
  }
  .lb_col {
    padding-bottom: 5px;
  }

  .lb_solisitud {
    font-size: 26px !important;
    margin-top: 5px !important;
  }
  .lb_saldo {
    font-size: 26px !important;
    margin-top: 5px !important;
  }
  .por {
    margin-right: -20px !important;
  }
  .lb_numeros {
    padding-top: 10px !important;
  }
  .lb_mtop {
    margin-top: 10px;
  }
  .lb_espaciobotton {
    margin-left: 0px;
  }
  .lb_tamano {
    width: 100%;
  }
  .lb_tamanon {
    width: 100% !important;
  }
}

/*----------------------------------------------------------------------
        5.0 ESTILOS CSS RESPONSIVE
------------------------------------------------------------------------*/

/*=============================================
ESCRITORIO (XL revisamos en 1366px en adelante)
=============================================*/

@media (min-width: 1200px) {
}

/*=============================================
TABLET HORIZONTAL (LG revisamos en 1024px)
=============================================*/

@media (max-width: 1199px) and (min-width: 992px) {
}

/*=============================================
TABLET VERTICAL (MD revisamos en 768px)
=============================================*/

@media (max-width: 991px) and (min-width: 768px) {
}

/*=============================================
MÓVIL HORIZONTAL (SM revisamos en 576px)
=============================================*/

@media (max-width: 767px) and (min-width: 576px) {
  /* PAGINA PREAPROBACION - CALCULO */
  .lb_primernumero {
    font-size: 30;
  }
  .lb_colorprincipal {
    font-size: 12px;
  }
}
/*=============================================
MOVIL VERTICAL (revisamos en 575px)
=============================================*/

@media (max-width: 575px) {
  .full-height {
    min-height: initial;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .px-sm-20px {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* PAGINA PREAPROBACION - CALCULO */
  .lb_espacio {
    margin-top: 10px;
  }
  .lb_colorprincipal {
    font-size: 17px;
  }
}
