

.lb_cabezera {
    font-size: 21px;
    color: #374659;
    font-weight: 600;
}
.lb_primernumero {
    font-size:35;
    color: #374659;
    font-weight: 600;
}
.lb_colorprincipal {
color: #374659;
font-size: 20px;
opacity: 1;
}
.lb_tamanosecundario {
color:#888E94;
font-size: 16px;
}

.lb_numero {
    font-weight: 600;
}
.lb_numeros {
    padding-top: 17px !important;
}

.lb_col {
    padding-top: 9px;
    padding-bottom: 9px;
} 

.lb_paddingg {
    margin-bottom: -10px !important;
 }
.lb_fff {
    background-color:#fff;
}
.lb_d0d1d2 {
    background-color: #f5f7fa;
}
.lb_borde {
    border:2px solid #d0d1d2;
}

.primeralinea {
    padding-bottom: 20px;
    margin-bottom: 35px;
    border-bottom:2px solid #ebedee;
    border-radius:0; 
}
.lb_divisor {
    border-bottom:2px solid #cccdd0;
    border-radius:0;
    margin-bottom: 30px;
}
.segundalinea,.terceralinea {
    margin-bottom: 10px;

}

.cuartalinea{
    margin-bottom: 50px;
}
.quintalinea {
    margin-bottom: 35px;
}
.paddingcol1 {
    margin-right: 10px;
}   

.lb_saldo {
color:#1da337;
font-size: 32px;
font-weight: 600 !important;
}

.lb_solisitud {
    font-size: 32px;  
    }

.lb_por {
 display: flex;
 justify-content: end;
 margin-right: -23px !important;
} 
.lb_port {
    display: flex;
    justify-content: end;
    margin-right: 1px !important;
}

.lb_padin {
    padding-top: 30px;
}
.lb_espaciobotton {
    margin-left:-20px;
}
.lb_tamano {
    width:106px;
    
       }

 
@media (max-width: 767px){

.lb_primernumero {
    font-size:30;

}
.lb_colorprincipal {
    font-size: 12px;
}}

@media (max-width:576px){
.lb_espacio {
    margin-top: 10px;
}
.lb_colorprincipal {
    font-size: 17px;
}
@media (min-width:767px){


}
}

@media (max-width:500px){

.lb_cabezera {
    font-size: 18px;
}
.lb_colorprincipal {
    font-size: 14px;
}
.lb_col {
    padding-bottom: 5px ;
}

.lb_solisitud {
    font-size: 26px !important;
    margin-top: 5px !important;
}
.lb_saldo {
    font-size: 26px !important;
    margin-top: 5px !important;
}
.por {
    margin-right: -20px !important;
}
.lb_numeros {
    padding-top: 10px !important;
}
.lb_mtop {
margin-top: 10px;
}
.lb_espaciobotton {
    margin-left:0px;
}
.lb_tamano {
    width: 100%;
}
}