// Required
@import "../node_modules/bootstrap/scss/functions";

// Default variable overrides
$body-bg: #000;
$body-color: #111;

// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional Bootstrap components here
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
// etc
////////////////////////////////////////////////////////////////////////////////

/*----------------------------------------------------------------------
>>> TABLA DE CONTENIDO
------------------------------------------------------------------------

1.0 Variables y Utilidades 
2.0 Forms
3.0 Header
    3.1 Navigation
	3.2 Links
    3.3 Menus
4.0 Paginas
	4.1
    4.2
5.0 Footer
6.0 Media Queries
    6.1 Desktop
    6.2 Tablet
    6.3 Movil
------------------------------------------------------------------------*/

/*----------------------------------------------------------------------
        1.0 VARIABLES Y UTILIDADES
------------------------------------------------------------------------*/

   
 .text-primary {  /* VEA QUE PRIMERO ESTA LA PALABRA TEXT-  */
     color:green;
 }
 .text-white {
     color: white;
 }
 
 .text-center {
     text-align: center;
 }
 

 /*-- COLORES --*/
 
 /* .primary {        COLOR PRIMARIO EJEMPLO
     background-color: green;
 }
 .accent {           COLOR SECUNDARIO / ACENTO
     background-color:yellow;
 } */
 
 
 
 /*-- BOTONES --*/
 
 
 
 /*-- UTILIDADES --*/
 
 .mt-0 { /* Margin Top */
     margin-top: 0;
 }
 
 
 /**TITULOS SECCIONES**/
 
 
 /*----------------------------------------------------------------------
         2.0 FORMS
 ------------------------------------------------------------------------*/
 
 .input__field {
    margin-bottom: 20px;
 }
 
 
 /*----------------------------------------------------------------------
         3.0 HEADER
 ------------------------------------------------------------------------*/
 
 
 
 
 /*----------------------------------------------------------------------
         4.0 PAGINAS
 ------------------------------------------------------------------------*/
 
 
 /*----------------------------------------------------------------------
         5.0 FOOTER
 ------------------------------------------------------------------------*/
 
 /*----------------------------------------------------------------------
         6.0 ESTILOS CSS RESPONSIVE
 ------------------------------------------------------------------------*/
 
 /*=============================================
 ESCRITORIO (XL revisamos en 1366px en adelante)
 =============================================*/
 
 @media (min-width:1200px){
 
 
 }
 
 /*=============================================
 TABLET HORIZONTAL (LG revisamos en 1024px)
 =============================================*/
 
 @media (max-width:1199px) and (min-width:992px){
     
 
 }
 
 /*=============================================
 TABLET VERTICAL (MD revisamos en 768px)
 =============================================*/
 
 @media (max-width:991px) and (min-width:768px){
 
 
 }
 
 /*=============================================
 MÓVIL HORIZONTAL (SM revisamos en 576px)
 =============================================*/
 
 @media (max-width:767px) and (min-width:576px){
 
 
 }
 
 /*=============================================
 MOVIL VERTICAL (revisamos en 320px)
 =============================================*/
 
 @media (max-width:575px){
 
 }