.lb_header {
    padding-top: 10px;
    padding-bottom: 10px;
   }


/* 0000000000000000000000000000000               Menu   ordenador          000000000000000000000000000*/


.lb_ppaprovadoactivofuente2 {
    
        color:#888E94;
        font-size: 16px;
        

}


/* 0000000000000000000000000000000              Revision terminos / termino         000000000000000000000000000*/


.lb_colorprincipal {
    color: #374659;
    font-size: 20px;
    opacity: 1;
    }
    
    
    .lb_numero {
        font-weight: 600;
    }
    .lb_numeros {
        padding-top: 17px !important;
    }
    
    .lb_col {
        padding-top: 9px;
        padding-bottom: 9px;
    } 
    
    .lb_paddingg {
        margin-bottom: -10px !important;
     }
    .lb_fff {
        background-color:#fff;
    } 
    
    .lb_d0d1d2 {
        background-color: #f5f7fa;
    }
    .lb_borde {
        border:2px solid #d0d1d2;
    }
    
    .primeralinea {
        padding-bottom: 20px;
        margin-bottom: 35px;
        border-bottom:2px solid #ebedee;
        border-radius:0; 
    }
    .lb_divisor {
        border-bottom:2px solid #cccdd0;
        border-radius:0;
        margin-bottom: 0px;
    }
    .segundalinea,.terceralinea {
        margin-bottom: 10px;
    
    }
    
    .cuartalinea{
        margin-bottom: 50px;
    }
    .quintalinea {
        margin-bottom: 35px;
    }
    .paddingcol1 {
        margin-right: 10px;
    }   
    
    
    
    .lb_saldo {
    color:#1da337;
    font-size: 40px;
    font-weight: 600 !important;
    }
    
    .lb_por {
     display: flex;
     justify-content: end;
     margin-right: -23px !important;
    } 
    .lb_port {
        display: flex;
        justify-content: end;
        margin-right: 1px !important;
    }
    
    .lb_padin {
        padding-top: 30px;
    }
    .lb_espaciobotton {
        margin-left:-20px;
    }

    .lb_espaciobott {
        margin-right: 15px;
    }
    .lb_tamano {
        width:106px;
        
           }
    
     
    @media (max-width: 767px){
    
    .lb_primernumero {
        font-size:30;
    
    }
    .lb_colorprincipal {
        font-size: 12px;
    }}
    
    @media (max-width:576px){
    .lb_espacio {
        margin-top: 10px;
    }
    .lb_colorprincipal {
        font-size: 17px;
    }
    @media (min-width:767px){
    
    
    }
    }
    
    @media (max-width:500px){
    
    .lb_cabezera {
        font-size: 18px;
    }
    .lb_colorprincipal {
        font-size: 14px;
    }
    .lb_col {
        padding-bottom: 5px ;
    }
    
    .lb_solisitud {
        font-size: 26px !important;
        margin-top: 5px !important;
    }
    .lb_saldo {
        font-size: 26px !important;
        margin-top: 5px !important;
    }
    .por {
        margin-right: -20px !important;
    }
    .lb_numeros {
        padding-top: 10px !important;
    }
    .lb_mtop {
    margin-top: 10px;
    }
    .lb_espaciobotton {
        margin-left:0px;
    }
    .lb_tamano {
        width: 100%;
    }
    }






/* 0000000000000000000000000000000               Revision solicitante         000000000000000000000000000*/


.lb_colorprincipal {
    color: #374659;
    font-size: 20px;
    opacity: 1;
    }
    .lb_tamano {
        width:106px;
        
           }
    
    
    .lb_numero {
        font-weight: 600;
    }
    .lb_numeros {
        padding-top: 17px !important;
    }
    
    .lb_col {
        padding-top: 9px;
        padding-bottom: 9px;
    } 
    
    .lb_paddingg {
        margin-bottom: -10px !important;
     }
    .lb_fff {
        background-color:#fff;
    } 
    
    .lb_d0d1d2 {
        background-color: #f5f7fa;
    }
    .lb_borde {
        border:2px solid #d0d1d2;
    }
    
    .primeralinea {
        padding-bottom: 20px;
        margin-bottom: 35px;
        border-bottom:2px solid #ebedee;
        border-radius:0; 
    }
    .lb_divisor {
        border-bottom:2px solid #cccdd0;
        border-radius:0;
        margin-bottom: 0px;
    }
    .segundalinea,.terceralinea {
        margin-bottom: 10px;
    
    }
    
    .cuartalinea{
        margin-bottom: 50px;
    }
    .quintalinea {
        margin-bottom: 35px;
    }
    .paddingcol1 {
        margin-right: 10px;
    }   
    
    
    
    .lb_saldo {
    color:#1da337;
    font-size: 40px;
    font-weight: 600 !important;
    }
    
    .lb_por {
     display: flex;
     justify-content: end;
     margin-right: -23px !important;
    } 
    .lb_port {
        display: flex;
        justify-content: end;
        margin-right: 1px !important;
    }
    
    .lb_padin {
        padding-top: 30px;
    }
    .lb_espaciobotton {
        margin-left:-20px;
    }

    .lb_espaciobott {
        margin-right: 15px;
    }
    .lb_tamanon {
    width: 140px;    
        
           }
   
     
    @media (max-width: 767px){
    
    .lb_primernumero {
        font-size:30;
    
    }
    .lb_colorprincipal {
        font-size: 12px;
    }}
    
    @media (max-width:576px){
    .lb_espacio {
        margin-top: 10px;
    }
    .lb_colorprincipal {
        font-size: 17px;
    }
    @media (min-width:767px){
    
    
    }
    }
    
    @media (max-width:500px){
    
    .lb_cabezera {
        font-size: 18px;
    }
    .lb_colorprincipal {
        font-size: 14px;
    }
    .lb_col {
        padding-bottom: 5px ;
    }
    
    .lb_solisitud {
        font-size: 26px !important;
        margin-top: 5px !important;
    }
    .lb_saldo {
        font-size: 26px !important;
        margin-top: 5px !important;
    }
    .por {
        margin-right: -20px !important;
    }
    .lb_numeros {
        padding-top: 10px !important;
    }
    .lb_mtop {
    margin-top: 10px;
    }
    .lb_espaciobotton {
        margin-left:0px;
    }
    .lb_tamano {
        width: 100%;
    }
    .lb_tamanon {
        width: 100% !important;
    }
    }




/* 0000000000000000000000000000000               Identidad        000000000000000000000000000*/

.lb_img {
    width: 37px;
    padding: 10px;
    background-color: #d3d5d4;
    border-radius: 20px;
}

.lb_imagenm {
    margin-right: 0px !important;
}
.lb_cabeze {
    font-size: 24px;
       color: #374659;
       font-weight: 700;
       opacity: 1;
}
.lb_primernumero {
    font-size:35;
    color: #374659;
    font-weight: 600;
}
.lb_colorprincipal {
color: #374659;
font-size: 20px;
opacity: 1;
}

.lb_divisor {
    border-bottom:3px solid #ededef;
    border-radius:0;
    margin-bottom: 30px;
}

.paddingcol1 {
    margin-right: 10px;
}   


.lb_solisitud {
    font-size: 32px;  
    }


.lb_padin {
    padding-top: 30px;
}
.lb_espaciobotton {
    margin-left:-20px;
}
.lb_tamano {
    width:106px;
    
       }


@media (max-width:500px){
    .lb_img {
        width: 35px;
        padding: 8px;
        background-color: #d3d5d4;
        border-radius: 20px;
        margin-right: 20px;
    }

.lb_cabezera {
    font-size: 18px;
    margin-left: 20px;
}
.lb_colorprincipal {
    font-size: 14px;
}

.lb_espaciobotton {
    margin-left:0px;
}
.lb_tamano {
    width: 100%;
}
}








/* 0000000000000000000000000000000               Calculo         000000000000000000000000000*/


.lb_cabezera {
    font-size: 21px;
    color: #374659;
    font-weight: 600;
}
.lb_primernumero {
    font-size:35;
    color: #374659;
    font-weight: 600;
}
.lb_colorprincipal {
color: #374659;
font-size: 20px;
opacity: 1;
}
.lb_tamanosecundario {
color:#888E94;
font-size: 16px;
}

.lb_numero {
    font-weight: 600;
}
.lb_numeros {
    padding-top: 17px !important;
}

.lb_col {
    padding-top: 9px;
    padding-bottom: 9px;
} 

.lb_paddingg {
    margin-bottom: -10px !important;
 }
.lb_fff {
    background-color:#fff;
}
.lb_d0d1d2 {
    background-color: #f5f7fa;
}
.lb_borde {
    border:2px solid #d0d1d2;
}

.primeralinea {
    padding-bottom: 20px;
    margin-bottom: 35px;
    border-bottom:2px solid #ebedee;
    border-radius:0; 
}
.lb_divisor {
    border-bottom:2px solid #cccdd0;
    border-radius:0;
    margin-bottom: 30px;
}
.segundalinea,.terceralinea {
    margin-bottom: 10px;

}

.cuartalinea{
    margin-bottom: 50px;
}
.quintalinea {
    margin-bottom: 35px;
}
.paddingcol1 {
    margin-right: 10px;
}   

.numeros1 {
    font-size: 40px;
    color:#1da337;
    color:#1da337;
    font-weight: 600;


}

.lb_solisitud {
    font-size: 32px;  
    }

.lb_por {
 display: flex;
 justify-content: end;
 margin-right: -23px !important;
} 
.lb_port {
    display: flex;
    justify-content: end;
    margin-right: 1px !important;
}

.lb_padin {
    padding-top: 30px;
}
.lb_espaciobotton {
    margin-left:-20px;
}
.lb_tamano {
    width:106px;
    
       }

 
@media (max-width: 767px){

.lb_primernumero {
    font-size:30;

}
.lb_colorprincipal {
    font-size: 12px;
}}

@media (max-width:576px){
.lb_espacio {
    margin-top: 10px;
}
.lb_colorprincipal {
    font-size: 17px;
}
@media (min-width:767px){


}
}

@media (max-width:500px){

.lb_cabezera {
    font-size: 18px;
}
.lb_colorprincipal {
    font-size: 14px;
}
.lb_col {
    padding-bottom: 5px ;
}

.lb_solisitud {
    font-size: 26px !important;
    margin-top: 5px !important;
}
.lb_saldo {
    font-size: 26px;
    margin-top: 5px;
}
.por {
    margin-right: -20px !important;
}
.lb_numeros {
    padding-top: 10px !important;
}
.lb_mtop {
margin-top: 10px;
}
.lb_espaciobotton {
    margin-left:0px;
}
.lb_tamano {
    width: 100%;
}
}










/* 000000000000000000000000000000             Menu   ordenador          000000000000000000000000000*/


.lb_menutablet {
display: none;

}

   

  .lb_aguardando {
    border-left: #B4C3E6 3px solid;           /*********  Color linea de tiempo aguardando   ************/
   height: 70px;
  }


  .lb_aprovado {
    border-left:#317FE8 3px solid;            /*********  Color linea de tiempo aprovada    ************/
    
  }




   .lb_ppaprovado {
    background-color: #317FE8;         /*********  Color menu   aprovado   ************/
    justify-content: center;
    width:20px;
    border-radius:30px;
    padding:1px;
    font-size: 12px;
    color: #fff;
    margin-left: -12px;
   }


   


   .lb_ppaprovadoactivo {
    background-color: #0509f5;            /*********  Color menu   activo   ************/
    justify-content: center;
    width:20px;
    border-radius:30px;
    padding:1px;
    font-size: 12px;
    color: #fff;
    margin-left: -12px;
    Box-shadow:0px 0px 6px #656464;


   }


   a {
    text-decoration: none;
   }


   .lb_ppaprovadoactivofuente {
    font-size: 20px;
    color: #374659;            /*************  fuente de menu desactivado *****************/
    font-weight: 600;

   }
   .lb_ppaprovadodesactivadofuente {
    font-size: 20px;
    color:  #C7C7C7;
    font-weight: 600;
   }

  

   .lb_ppaguardando {
   
    justify-content: center;
    width:20px;
    background-color: #fff;           /*********** color circulo de tiempo aguardando **********************/
    border-radius:30px;
    border: #B4C3E6 2px solid;        
    padding:px;
    font-size: 12px;
    color: #B4C3E6;
    margin-left: -12px;
   }

   .lb_ppaguardandofinallinea {
    
    justify-content: center;
    width:20px;
    background-color: #fff;
    border-radius:30px;
    border: #B4C3E6 2px solid;
    padding:px;
    font-size: 12px;
    color: #B4C3E6;
    margin-left: -8px;

   }

  

   .lb_pppp {
    margin-top:-25px;
    margin-left: 30px;

   }

   .lb_mm {
    margin-top: -40px;
    margin-left: 28px;

   }
   

   
   
   .lb_margentop {
       margin-top: 78px;
       margin-bottom: 78px;
   }
   
   .lb_xtarjeta {
       width:735px;
   }
   .lb_divisor {
    border-bottom:2px solid #cccdd0;
    border-radius:0;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.lb_bordetarjetas1 {
border-radius: 12px;
border: #CDD6E1 2px solid;
}
.lb_divisorconfirmacion {
    border-bottom:2px solid #317FE8;
}


   /* Tarjeta documento */

   .lb_xtarjetadocumento{
    width: 800px;
   
}


/* ------------------- */

   
   
   .lb_yrellenohorizontal {
       padding-top: 40px;
       padding-bottom: 40px;
   }
  
   .lb_xrellenovertical {
       padding-left: 57px;
       padding-right: 57px;
   }
 
   .lb_lineadivisor {
       margin-top: 30px;
       margin-bottom: 37px;
   }
   
   .lb_cabezera {
       font-size: 24px;
       color: #374659;
       font-weight: 700;
       opacity: 1;
       
   }

    
   .lb_cabezer {
    font-size: 20px;
    color: #374659;
    font-weight: 700;
    opacity: 1;
    
}
   .lb_primernumero {
       font-size:38;
       color: #374659;
       font-weight: 600;
   }
   
   .lb_solisitud {
       font-size: 40px;  
    }
   .lb_tamanosecundario {
       color:#888E94;
       font-size: 15px;
       font-weight: 700;
       }
   
   .lb_imginicial {
           border-radius: 30px;
           
           width: 40px;
       }

    /* 000000000000000000000000000      Formulario  00000000000000000000000000000000000000*/


    .lb_fonteformulario {
        font-size: 16px;
        color:#374659; 
    }

    .lb_background-color {
        background-color: #E9ECEF;

    }

    .lb_xtarjetaformulario{
        width: 732px;
       }

    .lb_xrellenoverticalformulario {
        margin-left: 26px;
        margin-right: 26px;
    }

    /* 000000000000000000000  */



    /* iniciar seccion */

    .lb_xtarjetainiciarseccion {
        width: 450px;
       
    }

    .lb_tamano {
        width:106px;
        
           }
    .lb_xrellenoverticaliniciarseccion {
        margin-left: 20px;
        margin-right: 20px;
    }
    .lb_img {
        width: 37px;
        padding: 10px;
        background-color: #d3d5d4;
        border-radius: 20px;
    }








    /*  000000000000000000000000000       Tarjeta confirmacion          0000000000000000000000000000*/


    .lb_xtarjetaconfirmacion {
        width: 800px;
        
    }

    .lb_borderright {
        border-right:  #CDD6E1 2px solid;
    }

    .lb_tamanoboton1 {
        width: 220px;
    }

    .lb_xrellenoverticaldocumento{
        margin-left: 30px;
        margin-right: 10px;
       }
    
       .lb_xrellenoverticaldocumentouno {
        margin-left:40px;
        margin-right: 40px;
    
       }
       .lb_xrellenoverticaldocumentodos {
        margin-left: 30px;
        margin-right: 30px;
       }
    
      
       .lb_yrellenohorizontaldocumento {
        margin-top: 40px;
        margin-bottom: 40px;
       }

    
   

    /* 00000000000000000000*/








    @media (max-width:992px){

        .lb_menuordenador {
            display: none;
        }











/* 0000000000000000000000000000000               Menu   Movil         000000000000000000000000000*/






.lb_menutablet {
    
    display: inline;
    margin-bottom: 20px;
    
} 


.lb_p2 , .lb_p3 , .lb_p4 {
display: flex;
justify-content: center;
}

.lb_p3 {
   margin-left: 43px;
   margin-right: 43px;
}

.lb_p5{
    display: flex;
    justify-content: flex-end;
}

.lb_mmm {
    margin-top: -40px;
    

   }

.lb_uva {
    padding-right: 0px;
}

.lb_textnumero5{
  display: flex;
  justify-content: end;
  margin-right: -40px;
  margin-top: -82px;
}



.lb_activotablet {
    display:flex;
    justify-content: center;
    width:20px;
    background-color: #0509f5;                   /*********  Color menu   activo   ************/
    border-radius:30px;
    padding:1px;
    font-size: 12px;
    color: #fff;
    margin-top: -3px;
    Box-shadow:0px 0px 6px #656464;
  
   }

   .lb_aprovadot {
    border-top: #317FE8 3px solid;              /*********  Color linea de tiempo aprovado  ************/
  
  }





  .lb_aguardandotablet {
    display:flex;
    justify-content: center;
    width:22px;
    height: 22px;
    background-color: #fff;                     /*********  Color menu aguardando  ************/
    border-radius:30px;
    border:#B4C3E6 2px solid;
    padding:px;
    font-size: 12px;
    color: #B4C3E6;
    
  
   }


   

  .lb_aguardandot {
    border-top: #B4C3E6 3px solid;               /*********  Color linea de tiempo aguardando  ************/
  
  }



  .lb_numero5aguardando {
    display:flex;
    justify-content: center;
    width:22px;
    background-color: #fff;                    /*********  Color menu aguardando  numero 5 ************/
    border-radius:30px;
    border:#B4C3E6 2px solid;
    font-size: 12px;
    color: #B4C3E6;
    margin-left: 95%;
   
    


   }

   .lb_numero5activo {
    display:flex;
    justify-content: center;
    width:22px;
    height: 22px;
    background-color: #0509f5;                /*********  Color menu activo  numero 5 ************/
    border-radius:30px;
    font-size: 12px;
    color: #fff;
    margin-left: 95%;
    Box-shadow:0px 0px 6px #656464;


   }

   .lb_numero5aguardandosin {
    display:flex;
    justify-content: center;
    width:22px;
    height: 22px;
    background-color: #fff;                /*********  Color menu aguardando  numero 5 sin texto************/
    border-radius:30px;
    border:#B4C3E6 2px solid;
    font-size: 12px;
    color: #B4C3E6;
    margin-left: 90%;
    margin-top: 27px;
   }

   .lb_margennumeros {
margin-top: -2px;

   }

 .lb_margennumerosaguardando {
    margin-top: 27px;
    
       }


.lb_margentexto {
    margin-left: -50px;
    margin-top: -72px;
    
    
}

.lb_margentextoaguardando {
    margin-left: -38px;
    margin-top: -72px;
    
    
}

/*00000000000000000000000                    -                   000000000000000000000*/




          /* Tarjeta documento */
      .lb_botondocumento {
        margin-bottom: 10px;
    }
/*---------------*/
/*tarjeta iniciar sesion */
.lb_xtarjetainiciarseccion {
  width: 100%;
}
/* 0000000000000*/
.lb_xtarjetaconfirmacion {
    padding: 10px;

}


.lb_borderright {
    
    border-right: none;
    }
    .lb_borderbotton {
        padding-bottom: 10px;
        border-bottom: #CDD6E1 2px solid;
        
    }


    }


@media (max-width:767px){
   

   

    .lb_tamanoboton1 {
        width: 100%;
    }

    .lb_xrellenoverticaldocumentouno{
        margin-left: 10px;
        margin-right: 10px;
       }

       .lb_xrellenoverticaldocumento {
        margin-left: 10px;
        margin-right: 10px;
     }

     .lb_xrellenoverticaldocumentodos {
        margin-left: 10px;
        margin-right: 10px;
       }

    

 
}

    
   
   
   @media (max-width:550px){
   .lb_xrellenovertical {
       padding-left: 20px;
       padding-right: 20px;
       }
    
       .lb_xrellenoverticalformulario {
        margin-left: 0px;
        margin-right: 0px;
    }
    
       .lb_yrellenohorizontaldocumento {
        margin-top: 30px;
        margin-bottom: 30px;
       }

      
       .lb_tamano {
        width: 100%;
    }

    .lb_margenred  {
        margin-left: 7px;
        margin-right: 7px;
    }

    /* Terjeta confirmacion */
  
    .lb_borderbotton {
        padding-bottom: 10px;
        border-bottom: #CDD6E1 2px solid;
        
    }
       
 
   }
   