/*----------------------------------------------------------------------
>>> TABLA DE CONTENIDO
------------------------------------------------------------------------

1.0 Variables y Utilidades 
2.0 Forms
3.0 Header
    3.1 Navigation
	3.2 Links
    3.3 Menus
4.0 Paginas
	4.1
    4.2
5.0 Footer
6.0 Media Queries
    6.1 Desktop
    6.2 Tablet
    6.3 Movil
------------------------------------------------------------------------*/

/*----------------------------------------------------------------------
        1.0 VARIABLES Y UTILIDADES
------------------------------------------------------------------------*/

 
body {
  background-color: #F5F5F7;
}


.text-primary {  /* VEA QUE PRIMERO ESTA LA PALABRA TEXT-  */
  color:green;
}
.text-white {
  color: white;
}
.text-center {
  text-align: center;
}


/*-- COLORES --*/

/* .primary {        COLOR PRIMARIO EJEMPLO
  background-color: green;
}
.accent {           COLOR SECUNDARIO / ACENTO
  background-color:yellow;
} */



/*-- BOTONES --*/



/*-- UTILIDADES --*/

.mt-0 { /* Margin Top */
  margin-top: 0;
}


/**TITULOS SECCIONES**/


/*----------------------------------------------------------------------
      2.0 FORMS
------------------------------------------------------------------------*/

/* input[type=text] {         ******* EJEMPLO *******
  font-size: 20px;
  background: white;
  border: none;
} */



/*----------------------------------------------------------------------
      3.0 HEADER
------------------------------------------------------------------------*/
/* NAVIGATION */
  /*.btn-pagination {
    list-style: none;
  }

  .btn-pagination a {
    text-decoration: none;
  }

  .btn-pagination a {
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #B4C3E6;
    display: flex;
    align-items: center;
    color: #B4C3E6;
  }

  .btn-pagination a:hover {
    background-color: #007BFF;
    color: #fff;
    border: 1px solid #007BFF;
  }

  .btn-pagination a.active {
    background-color: #007BFF;
    color: #fff;
    border: 1px solid #007BFF;
  }*/



/*----------------------------------------------------------------------
      4.0 PAGINAS
------------------------------------------------------------------------*/





/*----------------------------------------------------------------------
      5.0 FOOTER
------------------------------------------------------------------------*/




/*----------------------------------------------------------------------
      6.0 ESTILOS CSS RESPONSIVE
------------------------------------------------------------------------*/

/*=============================================
ESCRITORIO (XL revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){


}

/*=============================================
TABLET HORIZONTAL (LG revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){
  

}

/*=============================================
TABLET VERTICAL (MD revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){


}

/*=============================================
MÓVIL HORIZONTAL (SM revisamos en 576px)
=============================================*/

@media (max-width:767px) and (min-width:576px){


}

/*=============================================
MOVIL VERTICAL (revisamos en 320px)
=============================================*/

@media (max-width:575px){
  #input-movil{
    margin-top: 20px !important;
  }

  /*#btn-inicia {
    margin-top: 20px !important;
  }*/
}