.lb_header {
    padding-top: 10px;
    padding-bottom: 10px;
   }
   
   .lb_margentop {
       margin-top: 78px;
       margin-bottom: 78px;
   }
   
   .lb_xtarjeta {
       width:735px;
   }

   /* Tarjeta documento */

   .lb_xtarjetadocumento{
    width: 1050px;
   
}

/* ------------------- */

   
   
   .lb_yrellenohorizontal {
       padding-top: 40px;
       padding-bottom: 40px;
   }
   .lb_xrellenoverticaldocumento{
    margin-left: 30px;
    margin-right: 10px;
   }
   .lb_yrellenohorizontaldocumento {
    margin-top: 40px;
    margin-bottom: 40px;
   }
   .lb_xrellenovertical {
       padding-left: 57px;
       padding-right: 57px;
   }
 
   .lb_lineadivisor {
       margin-top: 30px;
       margin-bottom: 37px;
   }
   
   .lb_cabezera {
       font-size: 24px;
       color: #374659;
       font-weight: 600;
   }
   .lb_primernumero {
       font-size:38;
       color: #374659;
       font-weight: 600;
   }
   
   .lb_solisitud {
       font-size: 40px;  
    }
   .lb_tamanosecundario {
       color:#888E94;
       font-size: 15px;
       font-weight: 700;
       }
   
   .lb_imginicial {
           border-radius: 30px;
           
           width: 40px;
       }

    /* Formulario */

    .lb_fonteformulario {
        font-size: 16px;
        color:#374659; 
    }

    .lb_background-color {
        background-color: #E9ECEF;

    }

    .lb_xtarjetaformulario{
        width: 732px;
       }

    .lb_xrellenoverticalformulario {
        margin-left: 26px;
        margin-right: 26px;
    }

    /* 000000000000000000000  */

    /* iniciar seccion */

    .lb_xtarjetainiciarseccion {
        width: 450px;
    }
    .lb_tamano {
        width:106px;
        
           }
    .lb_xrellenoverticaliniciarseccion {
        margin-left: 20px;
        margin-right: 20px;
    }
    .lb_img {
        width: 37px;
        padding: 10px;
        background-color: #d3d5d4;
        border-radius: 20px;
    }






    /* 00000000000000000000*/

    @media (max-width:992px){
          /* Tarjeta documento */
      .lb_botondocumento {
        margin-bottom: 10px;
    }
/*---------------*/
/*tarjeta iniciar sesion */
.lb_xtarjetainiciarseccion {
  width: 100%;
}
/* 0000000000000*/

    }
    
   
   
   @media (max-width:550px){
   .lb_xrellenovertical {
       padding-left: 20px;
       padding-right: 20px;
       }
    
       .lb_xrellenoverticalformulario {
        margin-left: 0px;
        margin-right: 0px;
    }
    .lb_xrellenoverticaldocumento{
        margin-left: 10px;
        margin-right: 0px;
       }
       .lb_yrellenohorizontaldocumento {
        margin-top: 30px;
        margin-bottom: 30px;
       }
       .lb_tamano {
        width: 100%;
    }

       
 
   }
   