.lb_header {
    padding-top: 10px;
    padding-bottom: 10px;
   }

    .xx {
        width:auto;
        border: #f1f4f9 2px solid;
    }

    .yy {
        border: #0509f5 2px solid;
    }

  .lb_aguardando {
    border-left: #B4C3E6 3px solid;
   height: 70px;
  }
  .lb_aprovado {
    border-left:#317FE8 3px solid;
    
  }

   lb_navegacionlinea {
    border-left: #fff 3x solid;
   
   }
   .lb_ppaprovado {
    
    justify-content: center;
    width:20px;
    background-color: #317FE8;
    border-radius:30px;
    padding:1px;
    font-size: 12px;
    color: #fff;
    margin-left: -12px;
   }
   .lb_ppaprovadoactivo {
    
    justify-content: center;
    width:20px;
    background-color: #0509f5;
    border-radius:30px;
    padding:1px;
    font-size: 12px;
    color: #fff;
    margin-left: -12px;
    Box-shadow:0px 0px 6px #656464;


   }


   a {
    text-decoration: none;
   }
   .lb_ppaprovadoactivofuente {
    font-size: 20px;
    color: #374659;
    font-weight: 600;

   }
   .lb_ppaprovadodesactivadofuente {
    font-size: 20px;
    color:  #C7C7C7;
    font-weight: 600;
   }

  

   .lb_ppaguardando {
   
    justify-content: center;
    width:20px;
    background-color: #fff;
    border-radius:30px;
    border: #B4C3E6 2px solid;
    padding:px;
    font-size: 12px;
    color: #B4C3E6;
    margin-left: -12px;
   }

   .lb_ppaguardandofinallinea {
    
    justify-content: center;
    width:20px;
    background-color: #fff;
    border-radius:30px;
    border: #B4C3E6 2px solid;
    padding:px;
    font-size: 12px;
    color: #B4C3E6;
    margin-left: -8px;

   }

  

   .lb_pppp {
    margin-top:-25px;
    margin-left: 30px;

   }

   .lb_mm {
    margin-top: -40px;
    margin-left: 28px;

   }
   

   
   
   .lb_margentop {
       margin-top: 78px;
       margin-bottom: 78px;
   }
   
   .lb_xtarjeta {
       width:735px;
   }
   .lb_divisor {
    border-bottom:2px solid #cccdd0;
    border-radius:0;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.lb_bordetarjetas1 {
border-radius: 12px;
border: #CDD6E1 2px solid;
}
.lb_divisorconfirmacion {
    border-bottom:2px solid #317FE8;
}


   /* Tarjeta documento */

   .lb_xtarjetadocumento{
    width: 800px;
   
}


/* ------------------- */

   
   
   .lb_yrellenohorizontal {
       padding-top: 40px;
       padding-bottom: 40px;
   }
   .lb_xrellenoverticaldocumento{
    margin-left: 30px;
    margin-right: 10px;
   }
   .lb_yrellenohorizontaldocumento {
    margin-top: 40px;
    margin-bottom: 40px;
   }
   .lb_xrellenovertical {
       padding-left: 57px;
       padding-right: 57px;
   }
 
   .lb_lineadivisor {
       margin-top: 30px;
       margin-bottom: 37px;
   }
   
   .lb_cabezera {
       font-size: 24px;
       color: #374659;
       font-weight: 700;
       opacity: 1;
       
   }
   .lb_primernumero {
       font-size:38;
       color: #374659;
       font-weight: 600;
   }
   
   .lb_solisitud {
       font-size: 40px;  
    }
   .lb_tamanosecundario {
       color:#888E94;
       font-size: 15px;
       font-weight: 700;
       }
   
   .lb_imginicial {
           border-radius: 30px;
           
           width: 40px;
       }

    /* Formulario */

    .lb_fonteformulario {
        font-size: 16px;
        color:#374659; 
    }

    .lb_background-color {
        background-color: #E9ECEF;

    }

    .lb_xtarjetaformulario{
        width: 732px;
       }

    .lb_xrellenoverticalformulario {
        margin-left: 26px;
        margin-right: 26px;
    }

    /* 000000000000000000000  */

    /* iniciar seccion */

    .lb_xtarjetainiciarseccion {
        width: 450px;
       
    }

    .lb_tamano {
        width:106px;
        
           }
    .lb_xrellenoverticaliniciarseccion {
        margin-left: 20px;
        margin-right: 20px;
    }
    .lb_img {
        width: 37px;
        padding: 10px;
        background-color: #d3d5d4;
        border-radius: 20px;
    }






    /* 00000000000000000000*/

    @media (max-width:992px){
          /* Tarjeta documento */
      .lb_botondocumento {
        margin-bottom: 10px;
    }
/*---------------*/
/*tarjeta iniciar sesion */
.lb_xtarjetainiciarseccion {
  width: 100%;
}
/* 0000000000000*/

    }
    
   
   
   @media (max-width:550px){
   .lb_xrellenovertical {
       padding-left: 20px;
       padding-right: 20px;
       }
    
       .lb_xrellenoverticalformulario {
        margin-left: 0px;
        margin-right: 0px;
    }
    .lb_xrellenoverticaldocumento{
        margin-left: 10px;
        margin-right: 0px;
       }
       .lb_yrellenohorizontaldocumento {
        margin-top: 30px;
        margin-bottom: 30px;
       }
       .lb_tamano {
        width: 100%;
    }

    .lb_margenred  {
        margin-left: 7px;
        margin-right: 7px;
    }

       
 
   }
   