.lb_img {
    width: 37px;
    padding: 10px;
    background-color: #d3d5d4;
    border-radius: 20px;
}

.lb_imagenm {
    margin-right: 0px !important;
}
.lb_cabeze {
    font-size: 24px;
       color: #374659;
       font-weight: 700;
       opacity: 1;
}
.lb_primernumero {
    font-size:35;
    color: #374659;
    font-weight: 600;
}
.lb_colorprincipal {
color: #374659;
font-size: 20px;
opacity: 1;
}

.lb_divisor {
    border-bottom:3px solid #ededef;
    border-radius:0;
    margin-bottom: 30px;
}

.paddingcol1 {
    margin-right: 10px;
}   


.lb_solisitud {
    font-size: 32px;  
    }


.lb_padin {
    padding-top: 30px;
}
.lb_espaciobotton {
    margin-left:-20px;
}
.lb_tamano {
    width:106px;
    
       }


@media (max-width:500px){
    .lb_img {
        width: 35px;
        padding: 8px;
        background-color: #d3d5d4;
        border-radius: 20px;
        margin-right: 20px;
    }

.lb_cabezera {
    font-size: 18px;
    margin-left: 20px;
}
.lb_colorprincipal {
    font-size: 14px;
}

.lb_espaciobotton {
    margin-left:0px;
}
.lb_tamano {
    width: 100%;
}
}